@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
    --main-background-color: #f7f7f7;
    --main-purple-color: #2a265f;
    --twitter-color: #6bc4e8;
    --linkedin-color: #0077b5;
    --orange: #f6781d;
    --sea-green: #00b894;
    --white: #fff;
    --action-button-color: #d3d5da;
    /*Tags Colors*/
    --terms-color: #40407a;
    --content-color: #227093;
    --industries-color: #218c74;
    --competitors-color: #351f9778;
    --sidebar-color: #dedede;
    --navbar-color: #1d2838;
    --card-description-color: #7d8a92;
    /*Border Left Colors for the cards*/
    --card-twitter-color: var(--twitter-color);
    --card-linkedln-color: var(--linkedin-color);
    --card-case-color: var(--sea-green);
    --card-blog-color: var(--orange);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    font-family: "Lato", sans-serif !important;
    background-color: var(--main-background-color);
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 20px;
}

#content-wrapper .container-fluid {
    /* padding: 0 40px 0 40px !important; */
    margin: 5px;
}

@media (min-width: 768px) {
    body.fixed-nav #content-wrapper {
        padding-left: 225px;
    }
}


/*Navbar CSS*/

nav.main-navbar {
    box-shadow: 1px 2px 20px 2px rgb(0 0 0 / 10%);
    background-color: var(--navbar-color) !important;
}

.main-navbar .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
}

.main-navbar .navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
    content: "\f107";
}

.main-navbar .navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.main-navbar .navbar-nav .nav-item .nav-link:focus {
    outline: none;
}

.walls {
    margin: 5px;
}

.add-collection-btn {
    border: 1px dashed #d3d5da !important;
    border: none;
    background: none !important;
    padding: 0.4rem 0.6rem;
    border-radius: 7px;
    font-size: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    outline: none !important;
    cursor: pointer;
}

.walls .wall-tags .wall-tag {
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #6d9deb;
    margin-right: 0.4rem;
    color: #fff;
    box-shadow: 1px 2px 20px 2px rgb(0 0 0 / 10%);
}

.walls .wall-tags .wall-tag #remove-wall {
    background: none !important;
    border: none !important;
    display: block;
    cursor: pointer;
    outline: none !important;
    color: #1d2838;
    margin-left: 0.7rem;
}

.main-navbar .collection-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav.main-navbar .navbar-nav .nav-item .nav-link {
    color: var(--white);
}

nav.main-navbar .navbar-nav .nav-item .dropdown-toggle:hover {
    color: var(--white);
}

.main-navbar.navbar .navbar-brand {
    color: var(--white);
}

.main-navbar.navbar .navbar-brand:hover {
    color: var(--white);
}

@media (min-width: 768px) {
    .navbar-nav .form-inline .input-group {
        width: auto;
    }
}


/*Sidebar CSS*/

.sidebar {
    width: 90px !important;
    background-color: var(--sidebar-color);
    min-height: calc(100vh - 64px);
}

.sidebar form button {
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    color: #fff;
}

.sidebar .tags-container .tag-block {
    margin: 4rem 0;
}

.sidebar .tags-container .tag-block .tags-list {
    display: flex;
    flex-wrap: wrap;
}

.sidebar .tags-container .tag-block .tags-list .tag {
    text-align: center;
    margin-right: 1rem;
    border-radius: 10px;
    padding: 4px 8px;
    margin-top: 0.4rem;
    font-size: 12px;
    box-shadow: 1px 2px 20px 2px rgb(0 0 0 / 10%);
    color: rgb(255, 255, 255);
}

.sidebar .tags-container .tag-block.terms .tag {
    background-color: var(--terms-color);
}

.sidebar .tags-container .tag-block.industries .tag {
    background-color: var(--industries-color);
}

.sidebar .tags-container .tag-block.content .tag {
    background-color: var(--content-color);
}

.sidebar .tags-container .tag-block.competitors .tag {
    background-color: var(--competitors-color);
}

@media (min-width: 768px) {
    .sidebar {
        width: 300px !important;
    }
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        height: 50px;
        width: 225px;
    }
    .sidebar .nav-item .nav-link {
        font-size: 8px;
        display: inline;
    }
}


/*Main Content CSS*/

#wrapper #content-wrapper .container-fluid .main-content {
    min-height: calc(100vh - 110px);
    border-radius: 28px;
    background-color: var(--main-background-color);
}


/*Collection Cards CSS*/

.collection-body {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: flex-start;
}

.create-card-section {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}


/* @media (min-width: 1100px) {
    .collection-body {
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media (max-width: 1000px) {
    .collection-body {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media (max-width: 1493px) {
    .collection-body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 2000px) {
    .collection-body {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2500px) {
    .collection-body {
        grid-template-columns: repeat(5, 1fr);
    }
}

.collection-body .collection-card {
    background-color: #ffff;
    border-radius: 15px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.modal.show .modal-dialog .modal-content {
    border-radius: 15px !important;
    font-family: "Gordita Regular";
    font-weight: normal;
}

.modal.show .modal-dialog .modal-content .modal-body {
    line-height: 2rem !important;
}

.index-collection-card .card-description #card-description {
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    word-break: break-all;
    overflow-wrap: break-word;
    line-height: 2.3rem !important;
    border-top: 1px solid rgba(212, 212, 212, 0.827);
}

.index-collection-card>div {
    font-family: "Gordita Regular" !important;
    font-weight: normal !important;
}

.index-collection-card .index-card-title #card-title {
    width: 100%;
    height: 50px;
    word-break: break-all;
    padding: 2rem 0 1rem 0;
    overflow-wrap: break-word;
    font-size: 22px;
}

.index-collection-card .card-buttons {
    height: 70px;
}

.index-collection-card .description-label {
    width: 500px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
}

.index-collection-card .card-buttons .card-btn {
    color: #d1d1d1;
    background: none !important;
    border: none !important;
    padding: 3px 20px;
    font-size: 17px;
    cursor: pointer;
    outline: none !important;
}

.preview-collection-card .description-label .tag {
    color: #fff;
    font-size: 12px;
    padding: 2px 7px;
    background-color: var(--terms-color) !important;
    border-radius: 7px;
    margin-right: 0.2rem;
    align-self: center;
    margin-top: 0.2rem;
}

.index-collection-card .description-label .tag {
    color: #fff;
    font-size: 12px;
    padding: 2px 7px;
    background-color: var(--terms-color) !important;
    border-radius: 7px;
    margin-right: 0.2rem;
    line-height: 1.5rem !important;
    align-self: center;
    margin-top: 0.2rem;
}

.index-collection-card .description-label .tag button {
    background: none !important;
    margin-left: 0.5rem;
    border: none !important;
    cursor: pointer;
}

.preview-collection-card .preview-description #preview-description {
    height: 150px;
    overflow-y: auto;
    width: 100%;
    padding: 2rem 0;
    word-break: break-all;
    overflow-wrap: break-word;
    border-top: 1px solid rgba(212, 212, 212, 0.827);
}

.preview-collection-card .preview-card-title {
    width: 100%;
    height: 50px;
    word-break: break-all;
    padding: 2rem 0 1rem 0;
    overflow-wrap: break-word;
}

.preview-collection-card .card-buttons {
    height: 70px;
}

.preview-collection-card .description-label {
    width: 500px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
}

.preview-collection-card .card-buttons .card-btn {
    color: #d1d1d1;
    background: none !important;
    border: none !important;
    padding: 3px 20px;
    font-size: 17px;
    cursor: pointer;
    outline: none !important;
}

.preview-collection-card .description-label .tag {
    color: #fff;
    font-size: 12px;
    padding: 2px 7px;
    background-color: var(--terms-color) !important;
    border-radius: 7px;
    margin-right: 0.2rem;
    align-self: center;
    margin-top: 0.2rem;
}

.preview-collection-card .description-label .tag button {
    background: none !important;
    margin-left: 0.5rem;
    border: none !important;
    cursor: pointer;
}

.collection-body .collection-card:hover {
    /* transform: scale(1.1); */
}

.collection-body .collection-card hr {
    border: 0.5px solid rgba(227, 225, 225, 0.624);
}

.collection-body .collection-card .tags-view .tags-title {
    color: #fff;
}

.collection-body .collection-card .tags-view .tags .tags-btn {
    border: none;
    background: none;
    background-color: #fff;
    box-shadow: 1px 2px 20px 2px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 14px;
    margin-right: 0.4rem;
}

.collection-body .collection-card .card-title {
    font-size: 20px;
    min-height: 70px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.collection-body .collection-card .card-title .icon {
    color: var(--action-button-color);
}

.collection-body .collection-card .card-title .title {
    color: #313131;
    width: 100%;
}

.ql-container.ql-snow {
    background-color: #fff !important;
    height: 200px !important;
    overflow-y: auto;
}

.card-type-header {
    background-color: #ebedee;
}

.card-type-header .title {
    color: #ababab;
}

#card-types {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-gap: 20px;
    padding: 0.2rem;
    width: 100%;
}

#card-types .card-type {
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    font-size: 14px;
    padding: 1rem 0;
    color: #bec4c8;
    transition: all 0.3s ease-in-out;
    background-color: #f3f4f8;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#card-types label.card-type input {
    align-self: center !important;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
}

#card-types label.activated {
    background-color: #acb4b9 !important;
    color: #fff;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    animation: fadeIn 0.2s;
}


/*Twitter Card css */


/* .collection-body .collection-card.twitter{
   
    border-left: 20px solid  var(--card-twitter-color);
  }
   */


/*Linkedin Card css */


/* .collection-body .collection-card.linkedIn{
        border-left: 20px solid  var(--card-linkedln-color);
      } */


/*Blog Card css */


/* .collection-body .collection-card.blog{
        border-left: 20px solid  var(--card-blog-color);
      } */


/* .collection-body .collection-card.case{
        border-left: 20px solid  var(--card-case-color);
      } */


/*Card Description CSS*/

.collection-body .card-description {
    font-size: 13px;
    /* height: 100%; */
    max-height: 110px;
    min-height: 110px;
    height: 110px;
    font-family: "Gordita Regular";
    font-weight: normal;
    width: 100%;
    line-height: 1.5rem;
    border-top: 1px solid rgba(212, 212, 212, 0.827);
    padding: 0.7rem 0;
}

.collection-body .card-description.thumbnail {
    min-height: 150px !important;
}

.collection-body .card-description .description {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection-body .card-description .description img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.collection-card.proofPrintCard {
    background-color: #008d72;
}

.collection-body .collection-card.proofPrintCard .card-title .title {
    color: #fff;
}

.collection-body .collection-card.proofPrintCard .card-title {
    transform: translateY(90%);
}

.collection-body .collection-card .action-btn {
    position: absolute;
    top: 10px;
    cursor: pointer;
    background: none;
    border: none;
    right: 10px;
    outline: none;
}

.collection-body .collection-card .description-label {
    display: flex;
}

.collection-body .collection-card .description-label .tag {
    color: #fff;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 7px;
    margin-right: 0.2rem;
}

.collection-body .collection-card .card-description .description-label {
    color: #b0b0b0;
    font-size: 12px;
}

.collection-body .collection-card .description-label .tag.terms {
    /* background-color: #00b89368; */
    background-color: var(--terms-color);
}

.collection-body .collection-card .description-label .tag.industries {
    /* background-color: #00b89368; */
    background-color: var(--industries-color);
}

.collection-body .collection-card .description-label .tag.content {
    /* background-color: #00b89368; */
    background-color: var(--content-color);
}

.collection-body .collection-card.twitter .description-label .tag {
    background-color: #6bc5e888;
}

.collection-body .collection-card.linkedIn .description-label .tag {
    background-color: #0076b591;
}

.collection-body .collection-card .card-buttons {
    margin-top: 1.5rem;
}

.collection-body .collection-card .card-buttons button {
    /* border-radius: 20px !important; */
    padding: 3px 20px;
    font-size: 13px;
    /* box-shadow: 1px 2px 20px 2px rgb(0 0 0 / 10%); */
    border: none !important;
    cursor: pointer;
    align-self: center;
    outline: none !important;
    color: #d1d1d1;
    background: none !important;
}


/* .collection-body .collection-card .card-buttons button.more-btn {
        
} */

.remove-button-color {
    color: #d1d1d1;
}

.comments-section {
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
}

.comments-section.active {
    transform: translateX(0%);
}

.comments-section .comments-header .new-comment {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.comments-section .comments-header .new-comment form textarea {
    resize: none !important;
    width: 100%;
    height: 100px;
    border: none !important;
    padding: 0.5rem;
    outline: none !important;
}

.comments-section .comments-header .new-comment form button {
    outline: none !important;
}

.comments-section .comments-header .new-comment form button.cancel-btn {
    background: none !important;
}

.comments-section .comments-body .comments {
    margin: 1rem 0;
    height: 600px;
    overflow-y: auto;
}

.comments-section .comments-body .comments .comment {
    display: flex;
    padding: 1rem;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    border-bottom: 1px solid rgba(196, 193, 193, 0.465);
}

.comments-section .comments-body .comments .comment.reply-comment {
    display: flex;
    padding: none !important;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    border-bottom: none !important;
}

.comments-section .comments-body .comments .comment .owner-image {
    align-self: flex-start;
    border-radius: 100%;
}

.comments-section .comments-body .comments .comment .owner-image img {
    width: 50px;
    align-self: flex-start;
    object-fit: fill;
    height: 50px;
}

.comments-section .comments-body .comments .comment .details .details-header {
    display: flex;
    justify-content: space-between;
}

.comments-section .comments-body .comments .comment .details .details-header .owner-name {
    font-weight: bold;
}

.comments-section .comments-body .comments .comment .details .content {
    font-size: 14px;
    line-height: 1.5rem;
    margin-bottom: 0.4rem !important;
    word-break: break-all;
    overflow-wrap: break-word;
}

.comments-section .comments-body .comments .comment .details .actions button.action-btn {
    border-radius: 15px;
    border: none !important;
    /* color: #f1ba33; */
    outline: none !important;
    background: none !important;
    padding: 0 !important;
    margin-right: 0.5rem;
    cursor: pointer;
    color: #7d8a92;
}


/* @media (max-width: 1493px) {
    .comments-section {
        width: 400px !important;
    }
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}